
#top-header{

  #navlist{
    display: inline-block;
    float: right;
  }
}

.nav{
  li{
    display: inline-block !important;
    a{
      display: inline-block;
    }
  }
}
.navbar-header{

  span{
    color: white;
  }
}
.main-buttons{
  display: inline-block;
  float: right;
}
.main-navbar-header{
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: inline-block;
  .container{
    width: 100%;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 8px;
  font-family: 'Pacifico', cursive;
	font-size: 26px;
  color: white;
  margin-left: 20px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
