.object-container
  .object-hidden
    %h1#object-name
    %ul#selected-object-info
      %li
        %p#selected-object-time
      %li
        %p#selected-object-nextlvl
      %li
        %p#selected-object-cost
      %li= link_to t('common.upgrade'), "#"
